.chart
  height 100%
  width 100%

.widget__header
  .label
    opacity 0.6
    padding-right 0.5em

.widget__body
  &.analytics__top_pages
    .path
      font-size 0.8em

    .delimeter
      display none

    .value
      float right
      padding-right 0.5em

.c3-line
  stroke-width 4px

.c3-legend-item
  text
    fill $main-txt-color

.c3-axis
  path
    stroke $widget-header-bg-color

  line
    stroke $main-txt-color

  text
    font-size 1.5em
    fill $main-txt-color
